:root {
  --title-color: #242424;
  --bg-color: #2b2b2b;
  --sub-bg-color: #696863;
  --white-color: #cfced3;
}

.main {
  margin: 5vh 0 0 0;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.player {
  min-width: 75%;
  height: 100%;
}
.channels {
  width: 20%;
  height: 100%;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--sub-bg-color);
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
.channel-card {
  height: 30%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.channel-card:hover{
  cursor: pointer;
  background: rgb(231, 231, 231);
}
.channel-card-image-img {
  height: 50%;
  width: 95%;
}
.channel-card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.channel-card-description{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.channel-card-title{
  color: var(--title-color);
}
.channel-card-favorite{
  color: var(--bg-color)
}